appnope==0.1.0
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
bleach==1.5.0
certifi==2017.1.23
click==6.6
cloudpickle==0.2.1
configparser==3.5.0
cycler==0.10.0
cymem==1.31.1
Cython==0.23.4
dask==0.13.0
decorator==4.0.11
entrypoints==0.2.2
enum34==1.1.6
Flask==0.11.1
functools32==3.2.3.post2
h5py==2.5.0
html5lib==0.9999999
ipykernel==4.5.2
ipython==5.2.2
ipython-genutils==0.1.0
ipywidgets==5.2.2
itsdangerous==0.24
Jinja2==2.8
jsonschema==2.6.0
jupyter-client==4.4.0
jupyter-core==4.2.1
Keras==0.3.2
MarkupSafe==0.23
matplotlib==2.0.0
mistune==0.7.3
murmurhash==0.26.2
nbconvert==5.1.1
nbformat==4.2.0
networkx==1.11
nltk==3.2
notebook==4.4.1
numpy==1.10.4
pandas==0.19.2
pandocfilters==1.4.1
pathlib2==2.2.1
pexpect==4.2.1
pickleshare==0.7.4
Pillow==3.1.1
plac==0.9.1
preshed==0.46.3
progressbar==2.3
prompt-toolkit==1.0.13
ptyprocess==0.5.1
pydicom==0.9.9
Pygments==2.2.0
pyparsing==2.1.10
python-dateutil==2.5.3
pytz==2016.10
PyYAML==3.11
pyzmq==16.0.2
requests==2.10.0
scandir==1.4
scikit-image==0.12.3
scikit-learn==0.17.1
scipy==0.17.0
semver==2.4.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
spacy==0.100.6
sputnik==0.9.3
subprocess32==3.2.7
terminado==0.6
testpath==0.3
Theano==0.8.1
thinc==5.0.7
toolz==0.8.2
tornado==4.4.2
traitlets==4.3.1
ujson==1.35
wcwidth==0.1.7
Werkzeug==0.11.10
widgetsnbextension==1.2.6
